@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
:root{
    --primary-color:#333333;
    --second-color:#666666;
    --white-color:#fff;

}
body{
  font-family: 'Ubuntu', sans-serif;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
:root{
    --primary-color:#333333;
    --second-color:#666666;
    --third-color:#999999;
    --fourth-color:#dcdcdc;
    --white-color:#fff;

}
body{
  font-family: 'League Spartan', sans-serif;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

nav{
  position:fixed;
  width:100%;
  padding:20px 0;
  z-index: 999;
  transition: all 0.3s ease;
}

nav.sticky{
  background: var(--primary-color);
  padding: 13px 0;
}

nav .navbar{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

nav .navbar .logo a{
  font-weight:500;
  font-size: 35px;
  color: var(--primary-color);
}

nav.sticky .navbar .logo a{
  color:var(--white-color);
}

nav .navbar .menu{
  display: flex;
  position: relative;
}
nav .navbar .menu li{
  list-style:none;
  margin:0 8px;

}
nav .navbar .menu a{
  font-weight: 500;
  font-size: 18px;
  color: var(--second-color);
  transition: all 0.4s ease;
}

.navbar .menu a:hover{
  color:var(--primary-color);
}
nav.sticky .menu a{
  color:var(--white-color);
}
nav.sticky .menu a:hover{
  color:var(--second-color);
}
.navbar .media-icons a{
  color:var(--primary-color);
  font-size:18px;
  margin:0 6px;
}
nav.sticky .media-icons a{
  color:var(--white-color);
}

/* side navigation butonu*/
nav .menu-btn,
.navbar .menu .cancel-btn{
  position: absolute;
  color: var(--white-color);
  right:30px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
nav .menu-btn{
  color: var(--white-color);
}
.navbar .menu .menu-btn{
  color: var(--white-color);
}

.about {
  height: 100vh;
  width: 100%;
  background:url("assets/images/background.png") no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

}

.about .about-content{
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes fadeOutUp {
  from {
      opacity: 1;
      transform: translateY(0);
  }
  to {
      opacity: 0;
      transform: translateY(-20px); /* Yukarıya 20 piksel kaydır */
  }
}
.about .text-one{
  font-size: 25px;
  color:#333333;
  
}
.about .text-two{
  color:#333333;
  font-size: 60px;
  font-weight: 600;
  margin-left: -3px;
}
.about .text-three{
  font-size: 40px;
  margin:5px 0;
  color: #0E2431;
}
.about .text-four{
  font-size:25px; 
  margin:5px 0;
  color: var(--primary-color)
}

.about .button button{
  outline:auto;
  padding: 8px 16px;
  border-radius:8px;
  font-weight: 400;
  background:transparent;
  color:var(--primary-color);
  cursor: pointer;
  border:2px solid transparent;
  transition: all 0.4s ease;
}

.about .button button:hover{
  border-color:var(--second-color);
  background:var(--primary-color);
  color:var(--fourth-color);
}

