@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
:root{
    --primary-color:#333333;
    --second-color:#666666;
    --white-color:#fff;

}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--fourth-color);
  }
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
:root{
    --primary-color:#333333;
    --second-color:#666666;
    --third-color:#999999;
    --fourth-color:#dcdcdc;
    --white-color:#fff;

}
body{
    
  font-family: 'League Spartan', sans-serif;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

nav{
  position:fixed;
  width:100%;
  padding:20px 0;
  z-index: 999;
  transition: all 0.3s ease;
}

nav.sticky{
  background: var(--primary-color);
  padding: 13px 0;
}

nav .navbar{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

nav .navbar .logo a{
  font-weight:500;
  font-size: 35px;
  color: var(--primary-color);
}

nav.sticky .navbar .logo a{
  color:var(--white-color);
}

nav .navbar .menu{
  display: flex;
  position: relative;
}
nav .navbar .menu li{
  list-style:none;
  margin:0 8px;

}
nav .navbar .menu a{
  font-weight: 500;
  font-size: 18px;
  color: var(--second-color);
  transition: all 0.4s ease;
}

.navbar .menu a:hover{
  color:var(--primary-color);
}
nav.sticky .menu a{
  color:var(--white-color);
}
nav.sticky .menu a:hover{
  color:var(--second-color);
}
.navbar .media-icons a{
  color:var(--third-color);
  font-size:18px;
  margin:0 6px;
}
nav.sticky .media-icons a{
  color:var(--white-color);
}
nav .menu-btn,
.navbar .menu .cancel-btn{
  position: absolute;
  color: var(--white-color);
  right:30px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
nav .menu-btn{
  color: var(--white-color);
}
.navbar .menu .menu-btn{
  color: var(--white-color);
}


@keyframes fadeOutUp {
  from {
      opacity: 1;
      transform: translateY(0);
  }
  to {
      opacity: 0;
      transform: translateY(-20px); 
  }
}
.about .text-one{
  margin-top: 10%;
  font-size: 50px;
  color:#000000;
  font-weight: lighter;
  
}
.about .text-two{
  color:var(--primary-color);
  font-size: 65px;
  font-weight: 600;
  margin-left: -3px;
}
@media (min-width: 767.98px) {
  .about .text-two{
    white-space: nowrap; 
  }
  
}

.about .text-three{
  font-size: 40px;
  margin:5px 0;
  color:var(--primary-color);
}
.about .text-four{
  font-size:25px; 
  margin:5px 0;
  color: var(--primary-color)
}

.about .button button{
  outline:auto;
  padding: 8px 16px;
  border-radius:8px;
  font-weight: 400;
  background:transparent;
  color:var(--primary-color);
  cursor: pointer;
  border:2px solid transparent;
  transition: all 0.4s ease;
}

.about .button button:hover{
  outline:none;
  border-color:var(--second-color);
  background:var(--primary-color);
  color:var(--fourth-color);
}



/* About section*/
section{
  padding-top:40px;

}
section .content{
  width: 80%;
  margin:40px auto;
  font-family: 'montserrat', sans-serif;
  font-weight: 500;

}
section .title{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
section .title span{
  color:var(--primary-color);
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;

}

section .title span::before,
section .title span::after{
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background:var(--third-color);
  left: 0;
  bottom: 0;
}
section .title span::after{
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}


.text{
  display: flex;
  flex-direction: column;
}

.text p {
  margin-top: 20px; /* Paragrafların üst boşluğu */
}


.carousel-control-prev,
.carousel-control-next {
    font-size: 2rem
}

.carousel-item img {
    object-fit: cover; 
    border-radius: 15px;
    display: cover;
    height: 500px;
    width: 300px;
  }


.carousel-inner a {
    cursor: pointer;
}